@color: #232370;
@light-color: #FFFFFF;
@bg-light-color: #f7f7f7;
@border-light-color: #f0f0f0;
@size-text: 18px;

html
{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Montserrat ,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

body
{
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 700px;
  background-color: @light-color;
  font-size: @size-text;
  text-align: center;
  vertical-align: middle;
}

.header
{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: @size-text*2;
  width: 100%;
  padding: 20px 10px;
  // background: @color;
  background: linear-gradient( @color - 50%, @color + 10%);
  color: @light-color;
}

.header__logo img
{
  flex: 2 1 auto;
  width: 200px;
  height: 70px;
  background-size: contain;
  transform: translateY(2px);
}

.header__nav
{
  display: inline-block;
  width: 100%;
}

.header__nav ul
{
  padding-left: 0;
  // padding: auto 0;
}

.header__nav li
{
  display: inline-block;
  margin: 0 30px;
  padding: 0;
  list-style: none;
}
.header__nav a
{
  text-decoration: none;
  color: @light-color;
}
.header__number
{
  font-size: 30px;
  // display: inline-block;
  margin-right: 50px;
}

.header__nav a:hover { color: @border-light-color - 40%; }

.header__slide
{
  display: block;
  min-height: 150px;
  margin: 0;
  width: 100%;
  background: @color;
  color: @light-color;
  font-size: 0;

}

.header__slide img
{
  width: inherit;
  margin-top: 50px;
  background-size: contain;
}

.content__main,
.content__biography
{
  width: 100%;
  padding: 0;
  margin: 0;
}

.content__main { margin-top: 90px; }

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.content__main--text
{
  float: left;
  max-width: 40%;
  margin-left: 5%;
  margin-top:  @size-text*2;
}

.content__main--image img
{
  float: right;
  height: 300px;
  width: 600px;
  margin-right: 5%;
  background: @color;
  background-size: contain;
}

.content__biography--button
{
  display: flex;
  margin: 2%;
  padding: 0 200px;
  background: @bg-light-color;
  border: 1px solid @border-light-color;
  justify-content: space-around;
  align-items: center;
}

.content__biography--button input[type="button"] {
  padding: 5px 30px;
  border-radius: 10%;
  background-color: @color + 15%;
  color: @light-color;
  font-size: @size-text;
}

.content__biography--info
{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 2%;
}

.content__biography--text
{
  // max-width: 50%;
  margin: 0 0 50px 50px;
  text-align: justify;
}

.content__biography--image img
{
  height: 400px;
  width: 400px;
  background: @color;
  background-size: cover;
}

.services--image .main-icon { color: @color; }

.content__comments
{
  background: @color;
  color: @light-color;
  padding-top: 1px;
}

.content__comments h2,
.content__services h2
{
  font-size: @size-text*2;
}

.content__comments--flex,
.content__services--flex
{
  display: flex;
  justify-content: center;
}

.content__comments--item,
.content__services--item
{
  flex: auto;
  max-width: 30%;
  margin: 2%;
  margin-top: 0;
}

.content__services--item
{
  background: @bg-light-color;
  border: 1px solid @border-light-color;
  padding: 10px;
}

.content__comments--item li,
.content__services--item li
{
  list-style-type: none;
}

.content__comments--item
{
  padding: 10px;
  background: @color + 15%;
  border: 1px solid @color +20%;
  border-radius: 5%;

}

.content__comments--item h4::before
{
  content: "\f007";
  font-family: FontAwesome;
  color: @light-color;
  margin-right: 10px;
}

.content__contact--form
{
  display: flex;
  justify-content: center;
  align-items: center;

}

.content__contact--right,
.content__contact--left
{
  margin: 30px;
  margin-top: 0;
}

.content__contact--right { text-align: left; }

.content__contact--left input,
.content__contact--right textarea
{
  padding: 5px;
  border-radius: 7px;
}

.content__contact input[type="submit"]
{
  padding: 5px 30px;
  margin-bottom: 25px;
  border-radius: 10%;
  background-color: @color;
  color: @light-color;
  font-size: @size-text;
}

.content__contact--left>p { text-align: end; }

.content__contact--checkbox input { margin-left: 20px; }

.header__slide:before,
.content__services:before,
.content__biography:before,
.content__comments:before,
.content__contact:before
{
  content: "";
  display: block;
  height: 2em;
  margin-top: -2em;
  visibility: hidden;
}



.footer
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 5px auto;
  background-color: @color;
  color: @bg-light-color - 50%;
  font-size: @size-text;
}

.footer__logo img
{
  width: 200px;
  height: 70px;
  background-size: contain;
}

.footer__contacts ul { padding: 0; }

.footer__contacts li { list-style-type: none; }

.footer a
{
  background-color: @color;
  color: @bg-light-color;
}

.footer__developer p { margin-bottom: 0; }

// Media стили

@media (max-width: 1220px)
{
  .header__nav a { margin: 0 15px; }

  .header__number { margin-left: 50px; }
}

@media (max-width: 1025px)
{
  .header__nav li { margin: 0;}

  .header__number
  {
    font-size: 24px;
    margin-left: 25px;
  }

  .content__main { margin-top: 20px; }

  .content__main--text,
  .content__main--image
  {
    float: none;
    display: inline-block;
    max-width: 80%;
    margin: 5px;
  }

  .content__main--image img { margin-right: 0; }
}

@media (max-width: 769px)
{
  .header__nav a
  {
    display: inline-block;
    padding: 5px 0;
  }

  .header__number {
    margin: 0;
    margin-right: 10px;
    width: 250px;
    font-size: @size-text;
  }

  .content__biography--text { margin: 0 2%; }

  .content__biography--info { margin: 0 2%; }

  .content__biography--button { padding: 0; }

  .content__biography--button input { margin-left: 10px; }

  .content__contact--form { display: block; }

  .content__contact h3,
  .content__contact--left,
  .content__contact--right
  {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
  }

  .content__contact h3 { margin-top: 15px; }
}

@media (max-width: 426px) {

  h2,
  .content__comments h2,
  .content__services h2
  {
    font-size: @size-text + 2px;
  }

  h3 { font-size: @size-text; }

  .header__number { display:none; }

  .header__nav--icon
  {
    display: block;
  	font-size: 0;
  	background: none;
  	border: none;
  	width: 30px;
  	height: 25px;
    position: relative;
    cursor: pointer;
  }

  .header__nav--icon,
  .header__nav--icon:before,
  .header__nav--icon:after
  {
    border-top: 3px solid @light-color;
  	-webkit-transition: all .3s;
  	-moz-transition: all .3s;
  	transition: all .3s;
    right: 25px;
  }

  .header__nav--icon:before,
  .header__nav--icon:after
  {
  	position: absolute;
  	content: "";
  	display: block;
  	left: 0;
  	right: 0;
  }

  .header__nav--icon:before {
  	top: 7px;
  }

  .header__nav--icon:after {
  	top: 17px;
  }

  .header__nav
  {
    width: 130px;
    transform: translate(-100px, 27px);
    background-color: @color + 15%;
    border: 2px solid @color;
    font-size: @size-text;
  }

  .header__nav ul
  {
    margin: 0;
  }

  .header__nav li
  {
    width: 100%;
    margin: 0;
    padding: 15px 0;
  }

  .header__nav li:hover { background-color: @color + 40%; }

  .header__nav.closed { display:none; }

  .header__nav.opened { display: block; }

  .content__main--image
  {
    max-width: 100%;
    margin: 0;
  }

  .content__main--image img
  {
    float: none;
    display: block;
    width: 100%;
    height: inherit;
  }

  .content__comments--flex,
  .content__services--flex
  {
    display: block;
  }

  .content__comments--item,
  .content__services--item
  {
    max-width: 100%;
    margin: 3%;
    margin-top: 0;
  }

  .content__biography--button
  {
    display: block;
    margin: 3%;
  }

  .content__biography--button h3 { margin-bottom: 5px; }

  .content__biography--image img
  {
    width: 300px;
    height: inherit;
  }

  .content__biography--text { max-width: 100%; }

  .content__comments--flex { padding-bottom: 2%; }

  .content__contact--checkbox label
  {
    display: block;
    margin: 5px;
  }

  .content__contact input[type=submit] { margin-bottom: 15px; }

  .footer__logo { display: none; }

  .footer__contacts,
  .footer__developer
  {
    font-size: @size-text - 4px;
  }
}

@media (max-width: 321px)
{

  .content__contact--left,
  .content__contact--right
  {
    margin: 0 15px;
  }
  .content__contact input[type=submit] { margin-top: 15px; }

  .footer__contacts,
  .footer__developer
  {
    font-size: @size-text - 5px;
  }
}
